table, th, td {
    border: 1px solid red;
}

.container {
    flex-wrap: wrap;
}

.display-flex-between {
    display: flex;
    justify-content: space-between;
}

.display-flex-center {
    display: flex;
    justify-content: center;
}

.display-flex-right {
    display: flex;
    justify-content: right;
}

.border-black {
    border: 1px solid black;
    padding: 10px;
}

#userLogBox {
    display: flex;
    justify-content: right;
}

.color-error {
    color: red;
}

.color-warn {
    color: darkorange;
}

.color-info {
    color: black;
}

.color-success {
    color: forestgreen;
}

.input-w100 {
    width: 100%;
}