<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Properties>
        <Property name="LOG_PATTERN">
            %style{%d{yyyy/MM/dd HH:mm:ss,SSS}}{cyan} %style{[%t]}{yellow} %highlight{[%p]}{FATAL=bg_red, ERROR=red,
            INFO=green, DEBUG=blue} [%l]%n %highlight{%m}{FATAL=bg_red, ERROR=red,
            INFO=green, DEBUG=blue}%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8" disableAnsi="false"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Root>

        <!-- SQL Logger -->
        <Logger name="jdbc.connection" level="WARN" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="jdbc.sqltiming" level="WARN" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="jdbc.sqlonly" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="jdbc.audit" level="WARN" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="jdbc.resultset" level="WARN" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="jdbc.resultsettable" level="WARN" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
    </Loggers>
</Configuration>