<?xml version="1.0" encoding="UTF-8"?>

<!--<Configuration status="WARN">-->
<!--    <Appenders>-->
<!--        <Console name="Console" target="SYSTEM_OUT">-->
<!--            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
<!--        </Console>-->
<!--    </Appenders>-->
<!--    <Loggers>-->
<!--        <Root level="error">-->
<!--            <AppenderRef ref="Console"/>-->
<!--        </Root>-->
<!--    </Loggers>-->
<!--</Configuration>-->

<Configuration status="INFO">
    <Properties>
        <Property name="LOG_PATTERN">%style{%d{yyyy/MM/dd HH:mm:ss,SSS}}{cyan}%highlight{[%level]} [%C] %style{[%t]}{yellow}- %m%n -</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8" disableAnsi="false"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>