<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="LOG_PATTERN">
            %style{%d{yyyy/MM/dd HH:mm:ss,SSS}}{cyan} %highlight{[%p]}{FATAL=bg_red, ERROR=red,
            INFO=green, DEBUG=blue} [%C]%n %style{[%t]}{yellow} %m%n
<!--            %style{%d{yyyy/MM/dd HH:mm:ss,SSS}}{cyan} %highlight{[%p]}{FATAL=bg_red, ERROR=red,-->
<!--            INFO=green, DEBUG=blue} [%C%l]%n %style{[%t]}{yellow} %m%n-->
        </Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8" disableAnsi="false"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Root>
        <!-- SQL Logger -->
<!--        <logger name="jdbc.sqltiming">-->
<!--            <level value="WARN"/>-->
<!--            <appender-ref ref="console"/>-->
<!--        </logger>-->
<!--        <logger name="jdbc.sqlonly" additivity="false">-->
<!--            <level value="INFO"/>-->
<!--            <appender-ref ref="console"/>-->
<!--        </logger>-->
<!--        <logger name="jdbc.audit" additivity="false">-->
<!--            <level value="WARN"/>-->
<!--            <appender-ref ref="console"/>-->
<!--        </logger>-->
<!--        <logger name="jdbc.resultset" additivity="false">-->
<!--            <level value="WARN"/>-->
<!--            <appender-ref ref="console"/>-->
<!--        </logger>-->
<!--        <logger name="jdbc.resultsettable" additivity="false">-->
<!--            <level value="INFO"/>-->
<!--            <appender-ref ref="console"/>-->
<!--        </logger>-->
    </Loggers>
</Configuration>