<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.api.mapper.auth.AuthMapper">
    <resultMap id="usersAuthoritiesMap" type="com.board.api.dto.auth.AuthorityDTO">
        <result property="userId" column="user_id" />
        <result property="authority" column="authority" />
    </resultMap>

    <select id="readAuthMember" resultMap="usersAuthoritiesMap">
        select user_id, authority
        from users_authorities
        where user_id like #{userId};
    </select>

    <insert id="insertAuthorityToMember" parameterType="com.board.api.dto.auth.AuthorityDTO">
        insert into users_authorities(user_id, authority)
        values (#{userId}, #{authority});
    </insert>

    <delete id="deleteOneAuthorityToMember">
        delete
        from users_authorities
        where user_id like #{userId}
          and authority like #{authority};
    </delete>

    <delete id="deleteAllAuthorityToMember">
        delete
        from users_authorities
        where user_id like #{userId};
    </delete>

</mapper>
