<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="header">
        <nav class="navbar fixed-top bg-light px-3" style="height: 56px;">
            <div class="container-fluid">
                    <a href="/" class="navbar-brand text-dark">Perfect Community</a>
                    <div id="api-response-area" class="px-3 bg-warning text-center">
                    </div>
                    <div id="user-state">
<!--                        <%&#45;&#45;                    <button type="button" data-user-login-state="false">로그인</button>&#45;&#45;%>-->
                    </div>
            </div>
        </nav>
    </th:block>
    <script type="application/javascript">
        $(document).ready(() => {
            console.log("Perfect Community API");
            getAuthentication();
            // serverState();
        });
    </script>
</html>
