<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block th:fragment="header">
        <nav class="navbar sticky-top bg-light px-3" style="height: 56px;">
            <div class="container-fluid">
                <a href="/" class="navbar-brand text-dark">Perfect Community</a>
                <div id="api-response-area" class="px-3 bg-warning text-center">
                </div>
                <div id="user-state">
                    <th:block sec:authorize="isAnonymous()">
                        <a href="/login" class="btn btn-outline-secondary">Login</a>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        <span th:text="${#authentication.getName()}"></span>
                        <a href="/logout" class="btn btn-warning">Logout</a>
                    </th:block>
                </div>
            </div>
        </nav>
    </th:block>
</html>
