<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="scripts">
        <script type="application/javascript" src="/resources/js/serverState.js"></script>
        <script type="application/javascript" src="/resources/js/authentication.js"></script>
        <script type="application/javascript" src="/resources/js/login.js"></script>
        <script type="application/javascript" src="/resources/js/request.js"></script>
        <script type="application/javascript" src="/resources/js/response.js"></script>
        <script type="application/javascript" src="/resources/js/user/user.js"></script>
        <script type="application/javascript" src="/resources/js/board/board.js"></script>
        <script type="module" src="/resources/js/post/post.js"></script>
    </th:block>
</html>

