<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <th:block th:replace="metadata :: metadata"></th:block>

    <body>
        <header th:replace="header :: header"></header>
        <div class="container-fluid" style="">

            <div class="d-flex justify-content-around gap-3">
                <div class="col-2" style="top: 60px;" layout:fragment="sidebar">
                    <th:block th:replace="sidebar :: sidebar"/>
                </div>
                <div class="col-10" layout:fragment="content"></div>
            </div>
            <div class="toast-container position-fixed bottom-0 end-0" id="response-body-toast-container">
                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header gap-2">
                        <i class="fa-solid fa-square"></i>
                        <strong class="me-auto">Bootstrap</strong>
                        <!--                    <small>11 mins ago</small>-->
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body overflow-auto mh" style="max-height: 200px;">
                        Hello, world! This is a toast message.
                    </div>
                </div>
            </div>

        </div>

    </body>
    <th:block th:replace="scripts :: scripts"></th:block>
</html>

