<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <th:block th:replace="metadata :: metadata"></th:block>

    <body>
        <header th:replace="header :: header"></header>
        <div class="container-fluid" style="">

            <div class="d-flex justify-content-around gap-3">
                <div class="col-2" style="top: 60px;" layout:fragment="sidebar">
                    <th:block th:replace="fragments/sidebar :: document-sidebar"/>
                </div>
                <div class="col-10" layout:fragment="content"></div>
            </div>

            <!--     BootStrap Toast       -->
            <div class="toast-container position-fixed bottom-0 end-0" id="response-body-toast-container">
                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="--bs-toast-max-width: 500px">
                    <div class="toast-header gap-2">
                        <i class="fa-solid fa-square"></i>
                        <strong class="me-auto">Bootstrap</strong>
                        <!--                    <small>11 mins ago</small>-->
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body overflow-auto mh" style="max-height: 200px;">
                        Hello, world! This is a toast message.
                    </div>
                </div>
            </div>

            <!--     BootStrap Modal for Login      -->
            <div class="modal fade" tabindex="-1" id="loginModal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Login</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3 row">
                                <label for="loginModalInputID" class="col-sm-2 col-form-label">ID</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="loginModalInputID" name="username">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="loginModalInputPassword" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="loginModalInputPassword" name="password">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
    <th:block th:replace="scripts :: scripts"></th:block>
</html>

