<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.BoardMapper">

    <select id="countBoard" resultType="long">
        select count(*) as count
        from board;
    </select>

    <select id="selectBoardList" resultType="org.zerock.domain.BoardVO">
        select bno, title, content, writer, userid, boardPassword, regdate, updatedate
        from board
        order by updatedate, bno DESC;
    </select>

    <select id="selectBoardListWithPage" resultType="org.zerock.domain.BoardVO">
        select bno, title, content, writer, userid, boardPassword, regdate, updatedate
        from board
        order by updatedate desc
        limit ${(page - 1) * 10}, 10;
    </select>

    <select id="selectBoardByBno" resultType="org.zerock.domain.BoardVO">
        select bno, title, content, writer, userid, boardPassword, regdate, updatedate
        from board
        where bno = #{bno};
    </select>

    <select id="selectBoardByKeyword" resultType="org.zerock.domain.BoardVO">
        select bno, title, content, writer, userid, boardPassword, regdate, updatedate
        from board
        <choose>
            <when test="checkTitle">
                where title like concat('%', #{keyword}, '%')
                <if test="checkContent">
                    or content like concat('%', #{keyword}, '%')
                </if>
                <if test="checkWriter">
                    or writer like concat('%', #{keyword}, '%')
                </if>
            </when>
            <when test="checkContent">
                where content like concat('%', #{keyword}, '%')
                <if test="checkWriter">
                    or writer like concat('%', #{keyword}, '%')
                </if>
            </when>
            <when test="checkWriter">
                where writer like concat('%', #{keyword}, '%')
            </when>
        </choose>
        order by updatedate DESC;
    </select>

    <insert id="insertBoard" parameterType="org.zerock.domain.BoardVO" useGeneratedKeys="true" keyProperty="bno">
        insert into board (title, content, writer, userid, boardPassword)
        values (#{title}, #{content}, #{writer}, #{userId}, #{boardPassword});
    </insert>

    <update id="updateBoard">
        update board
        set title      = #{title},
            content    = #{content},
            writer     = #{writer},
            boardPassword = #{boardPassword},
            updatedate = NOW()
        where bno = #{bno}
    </update>

    <delete id="deleteBoard">
        delete
        from board
        where bno = #{bno}
    </delete>

    <delete id="deleteAllBoard">
        delete
        from board
        where bno > 0
    </delete>

    <select id="initAutoIncrement" resultType="long">
        alter table board
            auto_increment = 1;
        set @COUNT = 0;
        update board
        set bno = @COUNT := @COUNT + 1
        where bno > 0;
        select Auto_increment
        from information_schema.tables
        where TABLE_SCHEMA = 'BasicSpringMVC'
          and TABLE_NAME = 'board';
    </select>
</mapper>