<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.MemberMapper">
    <resultMap id="memberMap" type="org.zerock.domain.MemberVO">
        <id property="userId" column="userid"/>
        <result property="userId" column="userid"/>
        <result property="password" column="password"/>
        <result property="userName" column="username"/>
        <result property="enabled" column="enabled"/>
        <result property="regDate" column="regDate"/>
        <result property="updateDate" column="updateDate"/>
        <collection property="authList" resultMap="authMap">
        </collection>
    </resultMap>

    <resultMap id="authMap" type="org.zerock.domain.AuthVO">
        <result property="userId" column="userid"/>
        <result property="auth" column="authority"/>
    </resultMap>

    <select id="readMember" resultMap="memberMap">
        select users.userid, password, username, enabled, regDate, updateDate, authority, authorities.userid
        from users LEFT OUTER JOIN authorities on users.userid = authorities.userid
        where users.userid = #{userId};
    </select>
</mapper>
