<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
    <th:block th:fragment="document-sidebar">
        <a href="/docs" class="btn btn-link text-dark fs-5">API Docs</a>
        <div class="d-flex flex-column gap-2 text-right">
            <ul class="list-group" id="docs-side-menu-bar">
                <li class="list-group-item" aria-current="true">
                    <a class="p-1 rounded btn btn-link" href="/docs/intro">소개</a>
                </li>
                <li class="list-group-item">
                    <a class="p-1 rounded btn btn-link" href="/docs/credentials">로그인 & 로그아웃</a>
                </li>
                <li class="list-group-item">
                    <a class="p-1 rounded btn btn-link active" href="/docs/user">회원</a>
                </li>
                <li class="list-group-item">
                    <a class="p-1 rounded btn btn-link" href="/docs/board">게시판</a>
                </li>
                <li class="list-group-item">
                    <a class="p-1 rounded btn btn-link" href="/docs/post">게시물</a>
                </li>
                <li class="list-group-item">
                    <a class="p-1 rounded btn btn-link" href="/docs/others">이 외</a>
                </li>
            </ul>
        </div>
    </th:block>

    <th:block th:fragment="main-sidebar">

        <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
             aria-labelledby="staticBackdropLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="staticBackdropLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    I will not close if you click outside of me.
                </div>
            </div>
        </div>
    </th:block>
</html>
