<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perfect.community.api.mapper.user.UsersMapper">
    <resultMap id="userDtoMap" type="com.perfect.community.api.dto.user.UserDTO">
        <id property="userId" column="user_id"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="enabled" column="enabled"/>
        <result property="regDate" column="reg_date"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>

    <resultMap id="userWithAuthoritiesMap" type="com.perfect.community.api.dto.user.UserDTO">
        <id property="userId" column="user_id"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="enabled" column="enabled"/>
        <result property="regDate" column="reg_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="authority" column="authority"/>
<!--        <collection property="authority" resultMap="com.perfect.community.api.mapper.authorities.AuthoritiesMapper.authoritiesMap">-->
<!--        </collection>-->
    </resultMap>

    <select id="selectUserByUserId" resultMap="userDtoMap">
        select user_id, password, nickname, enabled, reg_date, update_date
        from users
        where users.user_id = #{user_id};
    </select>

    <select id="selectUserWithAuthoritiesByUserId" resultMap="userWithAuthoritiesMap">
        select users.user_id, password, nickname, enabled, reg_date, update_date, authority
        from users
                 LEFT OUTER JOIN users_authorities on users.user_id = users_authorities.user_id
        where users.user_id = #{user_id};
    </select>

    <select id="selectAllUsers" resultMap="userDtoMap">
        select user_id,
               password,
               nickname,
               enabled,
               reg_date,
               update_date
        from users
        order by reg_date;
    </select>

    <select id="selectAllUsersWithAuthorities" resultMap="userWithAuthoritiesMap">
        select users.user_id,
               password,
               nickname,
               enabled,
               reg_date,
               update_date,
               authority,
               users_authorities.user_id
        from users
                 LEFT OUTER JOIN users_authorities on users.user_id = users_authorities.user_id
        order by field(authority, 'ROLE_ADMIN', 'ROLE_MEMBER') DESC, reg_date;
    </select>

    <insert id="insertUser" parameterType="com.perfect.community.api.vo.user.UserVO">
        insert into users(user_id, password, nickname)
        values (#{user_id}, #{password}, #{nickname});
    </insert>

    <update id="updatePassword">
        update users
        set password = #{password},
            update_date = now()
        where user_id = #{user_id};
    </update>

    <update id="updateUser" parameterType="com.perfect.community.api.dto.user.UserDTO">
        update users
        set nickname = #{nickname},
            update_date = now()
        where user_id = #{user_id};
    </update>

    <delete id="deleteUser">
        delete
        from users
        where user_id like #{user_id};
    </delete>

    <update id="enableUser">
        update users
        set enabled = true
        where user_id like #{user_id};
    </update>

    <update id="disableUser">
        update users
        set enabled = false
        where user_id like #{user_id};
    </update>

    <select id="userIdAvailability" resultType="java.lang.Boolean">
        select if(count(user_id), 0, 1)
        from users
        where user_id like #{user_id};
    </select>

    <select id="nicknameAvailability" resultType="java.lang.Boolean">
        select if(count(nickname), 0, 1)
        from users
        where nickname like #{nickname};
    </select>


</mapper>
